{% extends "main.html" %}
{% block content%}
<style>
    .home-container {
        display: grid;
        grid-template-columns: 1fr 3fr 1fr;
    }
</style>

    <h1>Home Template</h1>
    <div class="home-container"> <!-- Wrap entire page in home container using css grid -->

        <div> <!-- Col1: Side Bar -->
            {% include "base\topics_component.html" %}
        </div> 

        <div> <!-- Col2: Room  Section -->
            <h3>{{room_count}} rooms available</h3>
            <a href ="{% url 'create-room' %}"> Create Room </a>
            {% include "base/feed_component.html" %}
        </div>
        
        <div>
            {% include "base\activity_component.html" %}
        </div>
    </div>
{% endblock content%}